@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}


@keyframes slideUp {
    0% {
        transform: translateY(80px);
        display: none;
    }
    100% {
        transform: translateY(0px);
        display: inline-block;
    }
}
